{
  "extends": "react-app",
  "rules": {
    "indent": [
      2,
      "tab"
    ],
    "quotes": [
      2,
      "single"
    ],
    "semi": [
      2,
      "always"
    ],
    "no-console": [
      0
    ]
  }
}
